<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tup.mapper.MailtempMapper" >
  <resultMap id="BaseResultMap" type="com.tup.model.Mailtemp" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="subject" property="subject" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="emailTo" property="emailto" jdbcType="VARCHAR" />
    <result column="emailCC" property="emailcc" jdbcType="VARCHAR" />
    <result column="emailBC" property="emailbc" jdbcType="VARCHAR" />
    <result column="attPath" property="attpath" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="execDate" property="execdate" jdbcType="TIMESTAMP" />
    <result column="lastexecDate" property="lastexecdate" jdbcType="TIMESTAMP" />
    <result column="retrytimes" property="retrytimes" jdbcType="INTEGER" />
    <result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="updateTime" property="updatetime" jdbcType="TIMESTAMP" />
    <result column="deleteFlag" property="deleteflag" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, subject, content, type, emailTo, emailCC, emailBC, attPath, status, execDate, 
    lastexecDate, retrytimes, createTime, updateTime, deleteFlag
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.tup.model.MailtempExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from mailtemp
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
   <if test="offset != null  and rows != null " >
    limit ${offset},${rows}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from mailtemp
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from mailtemp
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.tup.model.MailtempExample" >
    delete from mailtemp
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.tup.model.Mailtemp" >
    insert into mailtemp (id, subject, content, 
      type, emailTo, emailCC, 
      emailBC, attPath, status, 
      execDate, lastexecDate, retrytimes, 
      createTime, updateTime, deleteFlag
      )
    values (#{id,jdbcType=INTEGER}, #{subject,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, 
      #{type,jdbcType=VARCHAR}, #{emailto,jdbcType=VARCHAR}, #{emailcc,jdbcType=VARCHAR}, 
      #{emailbc,jdbcType=VARCHAR}, #{attpath,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{execdate,jdbcType=TIMESTAMP}, #{lastexecdate,jdbcType=TIMESTAMP}, #{retrytimes,jdbcType=INTEGER}, 
      #{createtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP}, #{deleteflag,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.tup.model.Mailtemp" >
    insert into mailtemp
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="subject != null" >
        subject,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="emailto != null" >
        emailTo,
      </if>
      <if test="emailcc != null" >
        emailCC,
      </if>
      <if test="emailbc != null" >
        emailBC,
      </if>
      <if test="attpath != null" >
        attPath,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="execdate != null" >
        execDate,
      </if>
      <if test="lastexecdate != null" >
        lastexecDate,
      </if>
      <if test="retrytimes != null" >
        retrytimes,
      </if>
      <if test="createtime != null" >
        createTime,
      </if>
      <if test="updatetime != null" >
        updateTime,
      </if>
      <if test="deleteflag != null" >
        deleteFlag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="subject != null" >
        #{subject,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="emailto != null" >
        #{emailto,jdbcType=VARCHAR},
      </if>
      <if test="emailcc != null" >
        #{emailcc,jdbcType=VARCHAR},
      </if>
      <if test="emailbc != null" >
        #{emailbc,jdbcType=VARCHAR},
      </if>
      <if test="attpath != null" >
        #{attpath,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="execdate != null" >
        #{execdate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastexecdate != null" >
        #{lastexecdate,jdbcType=TIMESTAMP},
      </if>
      <if test="retrytimes != null" >
        #{retrytimes,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteflag != null" >
        #{deleteflag,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.tup.model.MailtempExample" resultType="java.lang.Integer" >
    select count(*) from mailtemp
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update mailtemp
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.subject != null" >
        subject = #{record.subject,jdbcType=VARCHAR},
      </if>
      <if test="record.content != null" >
        content = #{record.content,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=VARCHAR},
      </if>
      <if test="record.emailto != null" >
        emailTo = #{record.emailto,jdbcType=VARCHAR},
      </if>
      <if test="record.emailcc != null" >
        emailCC = #{record.emailcc,jdbcType=VARCHAR},
      </if>
      <if test="record.emailbc != null" >
        emailBC = #{record.emailbc,jdbcType=VARCHAR},
      </if>
      <if test="record.attpath != null" >
        attPath = #{record.attpath,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.execdate != null" >
        execDate = #{record.execdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lastexecdate != null" >
        lastexecDate = #{record.lastexecdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.retrytimes != null" >
        retrytimes = #{record.retrytimes,jdbcType=INTEGER},
      </if>
      <if test="record.createtime != null" >
        createTime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updatetime != null" >
        updateTime = #{record.updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.deleteflag != null" >
        deleteFlag = #{record.deleteflag,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update mailtemp
    set id = #{record.id,jdbcType=INTEGER},
      subject = #{record.subject,jdbcType=VARCHAR},
      content = #{record.content,jdbcType=VARCHAR},
      type = #{record.type,jdbcType=VARCHAR},
      emailTo = #{record.emailto,jdbcType=VARCHAR},
      emailCC = #{record.emailcc,jdbcType=VARCHAR},
      emailBC = #{record.emailbc,jdbcType=VARCHAR},
      attPath = #{record.attpath,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=INTEGER},
      execDate = #{record.execdate,jdbcType=TIMESTAMP},
      lastexecDate = #{record.lastexecdate,jdbcType=TIMESTAMP},
      retrytimes = #{record.retrytimes,jdbcType=INTEGER},
      createTime = #{record.createtime,jdbcType=TIMESTAMP},
      updateTime = #{record.updatetime,jdbcType=TIMESTAMP},
      deleteFlag = #{record.deleteflag,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.tup.model.Mailtemp" >
    update mailtemp
    <set >
      <if test="subject != null" >
        subject = #{subject,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="emailto != null" >
        emailTo = #{emailto,jdbcType=VARCHAR},
      </if>
      <if test="emailcc != null" >
        emailCC = #{emailcc,jdbcType=VARCHAR},
      </if>
      <if test="emailbc != null" >
        emailBC = #{emailbc,jdbcType=VARCHAR},
      </if>
      <if test="attpath != null" >
        attPath = #{attpath,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="execdate != null" >
        execDate = #{execdate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastexecdate != null" >
        lastexecDate = #{lastexecdate,jdbcType=TIMESTAMP},
      </if>
      <if test="retrytimes != null" >
        retrytimes = #{retrytimes,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        updateTime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteflag != null" >
        deleteFlag = #{deleteflag,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tup.model.Mailtemp" >
    update mailtemp
    set subject = #{subject,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      emailTo = #{emailto,jdbcType=VARCHAR},
      emailCC = #{emailcc,jdbcType=VARCHAR},
      emailBC = #{emailbc,jdbcType=VARCHAR},
      attPath = #{attpath,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      execDate = #{execdate,jdbcType=TIMESTAMP},
      lastexecDate = #{lastexecdate,jdbcType=TIMESTAMP},
      retrytimes = #{retrytimes,jdbcType=INTEGER},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      updateTime = #{updatetime,jdbcType=TIMESTAMP},
      deleteFlag = #{deleteflag,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>